html {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #BBC3C9;
    margin: 0;
}

.game {
    background-color: #9b6a6c;
    border: 5px solid #212227;
    border-radius: 30px;
    padding: 24px;  
}

footer {
    background-color: #9b6a6c;
    border: 5px solid #212227;
    border-radius: 30px;
    padding: 0;  
}

h1,
h3 {
    color: #bdd4e7;
    text-align: center;
}

main {
    padding: 32px;
    height: 100%;
}

.buttons {
    border-radius: 20px;
    font-size: 20px;
    margin: 4px;
    padding: 12px;
}

.activebutton {
    background-color: #9b6a6c;
    color: #bdd4e7;
}

.container {
    display: flex;
    justify-content: center;
}

.section1,
.section2 {
    padding: 32px;
}

.guessword {
    font-size: 100px;
    text-align: center;
}

.attempts,
.letters_entered,
.section3 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
    text-align: center;
}

.keyboard {
    border: 2px solid #212227;
    border-radius: 30px;
    margin: auto;
    padding: 12px;
    width: 700px;
}

.reset-game {
    display: flex;
    justify-content: center;
    margin: auto;
}

.reset{
    border: 2px solid #212227;
    border-radius: 30px;
    font-size: 20px;
    padding: 12px 40px;
}

@media screen and (max-width: 750px) {
    main {
        padding: 12px;
    }

    .game {
        padding: 8px;
    }

    .container {
        flex-direction: column;
    }

    .section1 {
        padding: 0;
        margin: auto;
    }

    img {
        width: 100%;
    }

    .section2 {
        padding: 0;
    }

    .guessword {
        font-size: 40px;
        padding-top: 16px;
    }

    .letters_entered {
        padding-top: 0;
    }

    .keyboard {
        width: 100%;
    }
}
